body{

background-image: url('./img/mezi.jpg');

background-size: contain;

background-repeat: no-repeat;

background-color: rgb(rgb(156, 138, 138));

color: azure;

text-align: center;

}



